page-login {
    .fondonInicio {
        background: url('../assets/imgs/fondos/inicio.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .margen_arriba {
        margin-top: 10em;
    }

    .tamaño_logo {
        height: 40%;
    }

    .marginIdioma {
        margin-right: 10px;
    }

    .tamSelect {
        width: 36px;
    }

    .marginTop {
        margin-top: 20px;
    }


    .tam {
        width: 220px;
    }



}