<!--
  Generated template for the MyTravelsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-row>

            <ion-col col-8>
                <img class="tamImg btn_icon"
                     src="assets/imgs/logo.svg">
            </ion-col>
            <ion-col col-4
                     class="aling_right">
                <button class="btn_icon"
                        (click)="showSearch()">
                    <ion-icon name="gl-lupa"></ion-icon>
                </button>

            </ion-col>

        </ion-row>

    </ion-navbar>

</ion-header>
<ion-content class="fondonMyTravels">


    <ion-card *ngFor="let viaje of viajes"
              class="fondoOpaco">

        <div class="relativo">
            <img [src]="viaje.imagen"
                 (click)="seleccionViaje(viaje)" />
            <!-- barra de herramientas por carta-->
            <ion-col class="degrade ">
                <!-- boton de los pies para seguir -->
                <ion-row>
                    <button class="btn_fondo flotarizrq"
                            *ngIf="viaje.seguir== 0"
                            (click)="seguir(viaje)">
                        <ion-icon name="gl-seguir"></ion-icon>

                    </button>
                    <!-- boton de los corazon para los que ya estoy siguiendo -->
                    <button class="btn_fondo flotarizrq"
                            *ngIf="viaje.seguir== 1"
                            (click)="dejarDeSeguir(viaje)">
                        <ion-icon class="font_rosa"
                                  name="gl-siguiendo"></ion-icon>

                    </button>

                    <ion-avatar class="tamaño-avatar">
                        <img class="avatar-borde"
                             [src]="viaje.avatar">
                    </ion-avatar>

                    <ion-label class="label-usuario">
                        {{viaje.usuario}}
                    </ion-label>
                    <!-- indica el nivel de satisfaccion de la persona en el viaje una vez lo finalizo -->
                    <button class="btn_fondo flotarder"
                            *ngIf="viaje.state ==0">
                        <img class="tam_icon"
                             src="assets/icon/Normal-2.svg">
                    </button>
                    <!-- indica el estado del ciaje, si esta en proceso o ya se finalizo -->
                    <button class="btn_fondo flotarder"
                            *ngIf="viaje.state ==1">
                        <ion-icon class="procesoViajes"
                                  name="gl-en-progreso"></ion-icon>
                    </button>
                    <button class="btn_fondo flotarder"
                            *ngIf="viaje.state ==0">
                        <ion-icon name="gl-finalizado"></ion-icon>
                    </button>

                </ion-row>
            </ion-col>
        </div>


        <ion-card-header class=" btn_fondo animated  "
                         [ngClass]="efecto"
                         *ngIf="viaje.seeTools">
            <ion-col>
                <button class="btn_fondo paddin_aling"
                        (click)="showSearch()">
                    <ion-icon name="gl-btn-editar"></ion-icon>
                </button>
                <button class="btn_fondo paddin_aling"
                        (click)="showSearch()">
                    <ion-icon name="gl-btn-comentarios"></ion-icon>
                </button>
                <button class="btn_fondo paddin_aling">
                    <ion-icon name="gl-btn-etiquetados"></ion-icon>
                </button>
                <button class="btn_fondo paddin_aling"
                        (click)="showSearch()">
                    <ion-icon name="gl-btn-finalizar"></ion-icon>
                </button>
                <button class="btn_fondo paddin_aling"
                        (click)="showSearch()">
                    <ion-icon name="gl-btn-compartir"></ion-icon>
                </button>

            </ion-col>


        </ion-card-header>

        <ion-card-content class="fondTitleCard">
            <div class="flotarder">
                <ion-icon class="icon-blanco   posicion-derecha-icon"
                          name="gl-btn-comentarios"></ion-icon>
                <ion-icon class="icon-blanco   posicion-derecha-icon"
                          name="gl-btn-etiquetados"></ion-icon>

            </div>


            <ion-card-title class="titleCard titleViajes">
                {{viaje.nombre}}
            </ion-card-title>



        </ion-card-content>
    </ion-card>


</ion-content>