page-travels {
    .fondonMyTravels {
        background: url('../assets/imgs/fondos/Otros-Viajes.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .tam_icon {
        width: 2pc;
    }

    .degrade {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0) 0%);
        position: absolute;
        height: 47px;
        top: 48vw;
    }

    .titleViajes {
        text-align: left;
    }
}