<!--
  Generated template for the ContenidoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding
             class="fondo no-scroll ">

    <ion-row *ngIf="identificador==0">
        <ion-col>
            <button ion-fab
                    (click)="abrirGaleria()"
                    class="fondo_blanco flotarder correrder">

                <img class="tam_icon"
                     src="assets/icon/Galeria.svg">
            </button>
        </ion-col>
        <ion-col>
            <button ion-fab
                    (click)="abrirCamara()"
                    class="fondo_blanco flotarizrq correrizq">

                <img class="tam_icon"
                     src="assets/icon/Camara.svg">

            </button>
        </ion-col>

    </ion-row>
    <ion-row>
        <!--  -->
        <ion-col col-4n
                 *ngFor="let item of multimedia; let id= index">
            <ion-icon name="close"
                      class="deleteIcon"
                      (click)="eliminarFoto(id)"></ion-icon>
            <!-- src="assets/imgs/misviajes/selfie4.jpeg" -->
            <img class="tamañoDeterminado"
                 [src]="item"
                 *ngIf="item">
        </ion-col>

    </ion-row>
    <ion-row>
        <ion-label class="
                 font_black
                 tamFont">{{'COMENTARIOESTEVIAJE' | translate}}</ion-label>
        <ion-item class="style_textarea">

            <ion-textarea [(ngModel)]="commentTrip"></ion-textarea>
        </ion-item>
    </ion-row>
    <ion-row>
        <ion-item class="txt btn_fondo borde-abajo-inp  ">
            <ion-label class="font_black"
                       floating>{{'QUIENESTACONTIGO' | translate}}</ion-label>
            <ion-input type="text"
                       class=" font_black tamFont"></ion-input>
        </ion-item>
    </ion-row>
    <ion-row>
        <ion-item class="txt btn_fondo borde-abajo-inp  ">
            <ion-label class="font_black"
                       floating>{{'UBICACION' | translate}}</ion-label>
            <ion-input type="text"
                       class=" font_black tamFont"></ion-input>
        </ion-item>
    </ion-row>
    <ion-row center
             class="">
        <ion-col>
            <button ion-button
                    [ngClass]="margen_arriba"
                    (click)="agregarNuevoContenido()"
                    id="btn_login"
                    color="app_btn_login"
                    class=" font_white style_btn">
                {{'ACEPTAR' | translate}}
            </button>
        </ion-col>
    </ion-row>


</ion-content>