page-detail-travel {
    .fondoDetailTravels {
        background: url('../assets/imgs/fondos/Detalle_Viaje.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .toolbar-md {
        padding: 0px;
    }

    .tamaño {
        font-size: 30px;
    }

    .fontTitle {
        font-weight: bold;
        font-size: 22px;
    }

}