page-detail-travel {
    .fondoDetailTravels {
        background: url('../assets/imgs/fondos/Detalle_Viaje.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .toolbar-md {
        padding: 0px;
    }

    .tamaño {
        font-size: 28px;
    }

    .fontTitle {
        font-weight: bold;
        font-size: 22px;
    }


    .tam_icon {
        width: 2pc;
    }

    .degrade {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0) 100%);
        position: absolute;
        height: 80px;
    }

    .vl {
        border-left: 2px solid white;
        height: 60vh;
        margin-right: auto;
        position: relative;
        display: auto;
        margin: 4% 50vw;
    }

    .v2 {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
    }

    .absoluta {
        position: absolute;
    }

    .zindex {
        z-index: -10000;
    }

    .ubicacion {
        position: relative !important;
    }

    .fondoOpaco {
        background: rgba(231, 236, 242, 1);
    }

    .display_no {
        display: none;
    }

    .display_si {
        display: block;
    }


}