page-finalizar-viaje {
    .no-scroll .scroll-content {
        overflow: hidden;
    }

    .fondo {
        background: rgb(238, 246, 255);
    }

    .range-md .range-tick {
        margin-left: -1px;
        border-radius: 50%;
        position: absolute;
        top: 17px;
        z-index: 1;
        width: 3px;
        height: 10px;
        background: #bdbdbd;
        pointer-events: none;
    }

    .range-ios .range-tick {
        margin-left: -1px;
        border-radius: 50%;
        position: absolute;
        top: 17px;
        z-index: 1;
        width: 3px;
        height: 10px;
        background: #bdbdbd;
        pointer-events: none;
    }

    .tam_icon {
        width: 30px;
        margin-left: 20px;
    }

    .font_size {
        font-size: 13px;
    }

    .style_icon {
        margin: 0 0px;
    }

    .item-range ion-range {
        width: 90%;
    }

    .style_btn {
        border-radius: 40px;
        width: 8em;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

}